<%- startview('home') %>

<pre>
rendered: <%= new Date().toString() %>
songs: {{songs.length}}
version: <%= version %>
</pre>

  <div class="cell">
    <a class="btn btn-block" href="/">Refresh 1</a>
    <a class="btn btn-block" href="/?nocache=<%= new Date().valueOf() %>">Refresh 2</a>
  </div>

<%- endview %>


<%- startview('settings') %>
<div>
  <h1>This is settings</h1>
</div>
<%- endview %>
